//- FILEPATH: /d:/NestJS/OPB_BE/views/payment-return.pug

extends layout

block content
    h1 Payment Return

    //- BEGIN: vnpay_return controller
    //- Return transactionId, transactionInfo, message, status, RspCode
    .status-block
        //- Display icon based on status and response code
        if status === 'success' && RspCode === '00'
            i.fa.fa-check-circle
        else
            i.fa.fa-times-circle

        //- Display status and response code
        //- p Status: #{status}
        p Response Code: #{RspCode}

    .transaction-block
        //- Display transaction details
        p Transaction ID: #{transactionId}
        p Transaction Info: #{transactionInfo}
        p Message: #{message}
    //- END: vnpay_return controller
